# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Sensitive variable files
*.tfvars
*.tfvars.json

# OS/editor
.DS_Store
Thumbs.db